*.project
*.classpath
*.settings/
*/logs/
*/target/
*/lib/
*/temp/
*/bin/
*/mvnw*

**/out/**

*.iml
#out/
*.log
*.log.*
.idea/
.idea/.*
/WebContent
/bin
/target/
/out/**
out/
out/**
.mvn/*
**DS_Store**
